In [1]:
import pandas as pd
import numpy as np
import sqlalchemy as db
from sqlalchemy import create_engine, select, insert
import googlemaps

In [2]:
july_trip = pd.read_pickle("../data/july.pkl")

In [3]:
july_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134926 entries, 0 to 134925
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PubTimeStamp      134926 non-null  datetime64[ns]
 1   TripID            134926 non-null  object
 2   TruckID           134926 non-null  object
 3   TripDuration      134926 non-null  float64
 4   TripDistance      134926 non-null  float64
 5   StartTime         134926 non-null  datetime64[ns]
 6   EndTime           134926 non-null  datetime64[ns]
 7   StartLatitude     134926 non-null  float64
 8   StartLongitude    134926 non-null  float64
 9   EndLatitude       134926 non-null  float64
 10  EndLongitude      134926 non-null  float64
 11  TripRoute         134926 non-null  object
 12  TripDate          134926 non-null  object
 13  DriverID          134926 non-null  int32
 14  AvgSpeed          134926 non-null  int32
 15  IdleTime          134926 non-null  int32
 16  TirePressure      134926 non-null  int32
 17  GPSLastErrorType  134926 non-null  int64
 18  Points            134926 non-null  int64
dtypes: datetime64[ns](3), float64(6), int32(4), int64(2), object(4)
memory usage: 17.5+ MB

In [4]:
july_trip.head()

,PubTimeStamp,TripID,TruckID,TripDuration,TripDistance,StartTime,EndTime,StartLatitude,StartLongitude,EndLatitude,EndLongitude,TripRoute,TripDate,DriverID,AvgSpeed,IdleTime,TirePressure,GPSLastErrorType,Points
0,2019-07-01 00:02:52.213,BRD5179,PoweredZSHKJ,2.0,0.0,2022-06-04 00:01:32.290000,2022-06-04 00:03:55.966666,36.130457,-86.692485,36.1778,-86.7514,"[[36.177438,-86.751861],[36.177425,-86.751987]...",2019-07-01 00:00:00,2,45,28,65,0,0
1,2019-07-01 00:02:52.213,BRD5177,Powered22JF6,0.0,0.0,2022-06-04 00:02:38.640000,2022-06-04 00:02:54.406666,36.130457,-86.692485,36.1627,-86.7711,"[[36.162718,-86.771102],[36.162718,-86.771102]]",2019-07-01 00:00:00,1,47,13,68,0,0
2,2019-07-01 00:02:52.213,BRD5176,Powered22JF6,1.0,0.0,2022-06-04 00:03:04.333333,2022-06-04 00:03:37.680000,36.130457,-86.692485,36.1627,-86.7713,"[[36.162734,-86.77122],[36.162706,-86.771325],...",2019-07-01 00:00:00,2,60,34,88,0,0
3,2019-07-01 00:02:52.213,BRD5178,PoweredIB2CC,1.0,0.0,2022-06-04 00:02:06.963333,2022-06-04 00:03:25.766666,36.130457,-86.692485,36.1525,-86.7988,"[[36.152499,-86.798708]]",2019-07-01 00:00:00,1,55,72,84,0,0
4,2019-07-01 00:02:52.213,BRD5180,PoweredW4G7R,2.0,0.0,2022-06-04 00:01:19.843333,2022-06-04 00:02:53.976666,36.130457,-86.692485,36.1575,-86.7758,"[[36.157523,-86.775794]]",2019-07-01 00:00:00,1,73,60,82,0,0

In [5]:
july_trip.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 134926 entries, 0 to 134925
Data columns (total 19 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   PubTimeStamp      134926 non-null  datetime64[ns]
 1   TripID            134926 non-null  object
 2   TruckID           134926 non-null  object
 3   TripDuration      134926 non-null  float64
 4   TripDistance      134926 non-null  float64
 5   StartTime         134926 non-null  datetime64[ns]
 6   EndTime           134926 non-null  datetime64[ns]
 7   StartLatitude     134926 non-null  float64
 8   StartLongitude    134926 non-null  float64
 9   EndLatitude       134926 non-null  float64
 10  EndLongitude      134926 non-null  float64
 11  TripRoute         134926 non-null  object
 12  TripDate          134926 non-null  object
 13  DriverID          134926 non-null  int32
 14  AvgSpeed          134926 non-null  int32
 15  IdleTime          134926 non-null  int32
 16  TirePressure      134926 non-null  int32
 17  GPSLastErrorType  134926 non-null  int64
 18  Points            134926 non-null  int64
dtypes: datetime64[ns](3), float64(6), int32(4), int64(2), object(4)
memory usage: 17.5+ MB

In [6]:
#Cutting Fat of Mock Data for point we are showing on app for time purposes 

july_trip.drop(['PubTimeStamp', 'TruckID', 'TripDuration', 'StartTime', 'EndTime', 'TripRoute', 'TripDate'], axis = 1)

,TripID,TripDistance,StartLatitude,StartLongitude,EndLatitude,EndLongitude,DriverID,AvgSpeed,IdleTime,TirePressure,GPSLastErrorType,Points
0,BRD5179,0.0,36.130457,-86.692485,36.177800,-86.751400,2,45,28,65,0,0
1,BRD5177,0.0,36.130457,-86.692485,36.162700,-86.771100,1,47,13,68,0,0
2,BRD5176,0.0,36.130457,-86.692485,36.162700,-86.771300,2,60,34,88,0,0
3,BRD5178,0.0,36.130457,-86.692485,36.152500,-86.798800,1,55,72,84,0,0
4,BRD5180,0.0,36.130457,-86.692485,36.157500,-86.775800,1,73,60,82,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
134921,JMP3,7075.2,36.130457,-86.692485,36.149220,-86.813980,2,35,111,60,0,0
134922,JMP2,1320.0,36.130457,-86.692485,36.152843,-86.779594,2,20,67,55,0,0
134923,JMP1,7920.0,36.130457,-86.692485,36.164158,-86.776900,2,20,113,81,0,0
134924,JMP35,20433.6,36.130457,-86.692485,36.173904,-86.785450,1,72,52,86,0,0
134925,JMP34,14889.6,36.130457,-86.692485,36.163410,-86.782100,2,34,84,87,0,0

In [7]:
#Converting to 3 Drivers for time
july_trip['DriverID'] = np.random.randint(1, 3, july_trip.shape[0])

In [8]:
#Pickling smaller file for time
july_trip.to_pickle("../data/july.pkl")

In [9]:
#Calculating Averages and ouputing to table 'Averages'
Averages_df = []
Averages_df.append({
    'AvgTirePressure' : july_trip.TirePressure.mean(), 
    'AvgIdleTime' : july_trip.IdleTime.mean(),
    'TotalAvgSpeed' : july_trip.AvgSpeed.mean(),
    'AvgTripDistance' : july_trip.TripDistance.mean(),
    'AvgTripDuration' : july_trip.TripDuration.mean(),
    'AvgTotalPoints' : july_trip.Points.mean()})

Averages = pd.DataFrame(Averages_df)

In [10]:
# Users Table Creation
Users_df = {'Name':['Josh', 'Thomas', 'Val'], 'Email':['jcross@gmail.com', 'tbau30@yahoo.com', 'valencia.gooch@gmail.com'], 'EmployeeID':[3,6,9],
            'DriverID':[1,2,3], 'TotalPoints':[54265,12345,14569]}
Users = pd.DataFrame(Users_df)
Users

     Name                     Email  EmployeeID  DriverID  TotalPoints
0    Josh          jcross@gmail.com           3         1        54265
1  Thomas          tbau30@yahoo.com           6         2        12345
2     Val  valencia.gooch@gmail.com           9         3        14569

In [11]:
#Hard copying data for time sake and not being able to connect to AWS 
Hard_data = pd.merge(july_trip,Users,left_on='DriverID',right_on='DriverID',how='inner')
Hard_data.to_csv('../data/hard_data')
Averages.to_csv('../data/Averages.csv')

In [ ]:
#Connection to SQL adding Averages Table

engine = db.create_engine('mysql+mysqlconnector://root:password@localhost:')
Averages.to_sql('Averages', engine, if_exists = 'replace', index=False)
Users.to_sql('Users', engine, if_exists = 'replace', index=False)

In [14]:
#Starting Lambda approach based on standards for points

    ##Algorithim approach would be 50 points for mean valuea of standards. 
    # Negative deduction would be 10 point for every standard deviation under mean. 
    # Positive reinforcement would be 50 points for every standard deviation over mean.